a:hover {
    text-decoration:underline;
}
/* table */
table {
    width: 1000px;
    text-align: center;
    background-color: rgb(92, 95, 101);
    border-radius: 10px;
}

thead tr th {
    height:30px;
    border-bottom: 2px solid rgb(255, 255, 255);
}

tbody tr {
    height: 50px;
}

tbody tr td a:link,
tbody tr td a:visited {
    font-size: 12pt;
}

input {
    background-color: rgb(39, 41, 44);
    color:white;
    border-radius:20px;
    border: 0;
    padding:5px 10px;
}